<div id="views__landing">
  <div class="body">
    <div id="mobile-nav-bar" layout="column">
      <a flex class="w-nav-link nav-link" ng-click="vm.Logout()">LOGOUT</a>
    </div>
    <div class="nav-bar">
      <div class="container nav">
        <div class="w-nav nav" data-collapse="medium" data-animation="default" data-duration="400">
          <nav class="w-nav-menu nav-menu" role="navigation">
            <div class="nav-button">
              <a class="w-nav-link nav-link" ng-click="vm.Logout()">LOGOUT</a>
            </div>
          </nav>
          <div class="w-nav-button menu-button" ng-click="vm.toggleMobileMenu()">
            <div class="w-icon-nav-menu"></div>
          </div>        
          <a class="w-inline-block nav-logo" href="#"><img src="images/landing/nav-logo.png" width="176">
          </a>
        </div>
      </div>
    </div>
      <p>{{vm.aa}}</p>
  </div>
</div>
